# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [19]:
# kernels

In [18]:
# hotkey

In [20]:
# comment

In [ ]:
# markdown

Hi this is python course!

## Hi this is python course!

$ \alpha = \beta = \frac{\alpha}{\sqrt{\beta}} $

# <center> Basic

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [3]:
2 +4

6

In [4]:
6-4

2

In [6]:
5*3

15

In [7]:
5/3

1.6666666666666667

In [9]:
5%3

2

In [10]:
5//3

1

In [11]:
5**3

125

In [12]:
5 + (4 - 3 * 2)**3 + 1 * 10

7

In [13]:
a = 5 + (4 - 3 * 2)**3 + 1 * 10

In [14]:
a

7

In [15]:
a - 8

-1

In [17]:
a = a - 8

In [18]:
a

-1

In [19]:
a = 110

In [20]:
a

110

In [21]:
x = 3
y = 6

In [23]:
print(x*y)
print(x/y)

18
0.5

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [24]:
x = 4
y = 8

In [27]:
print(x==y)
print(x==4)
print(x!=y)

False
True
True

In [31]:
print(x>y)
print(x>4)
print(x>=4)

False
False
True

In [32]:
x > 1 and y < 10

True

In [33]:
x > 1 and y < 5

False

In [34]:
x > 1 or y < 5

True

In [35]:
1 < x < 5

True

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [36]:
type

type

In [40]:
print(type('Economics'))
print(type(125))
print(type(1.56))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [49]:
x = 1.3
print(x)
type(x)

print(x, 'is', str(type(x)))

1.3
1.3 is <class 'float'>

In [51]:
print(x, 'salam', x**2)

1.3 salam 1.6900000000000002

In [42]:
type(x)

float

In [45]:
x * 2

2.6

In [44]:
str(x) *2

'1.31.3'

In [46]:
int(1.9)

1

In [47]:
float(12)

12.0

In [52]:
s1 = 'Hi, this is pyhton course!'
s2 = "It's good to see your here!"
print(s1)
print(s2)

Hi, this is pyhton course!
It's good to see your here!

In [54]:
a = 'aaaaaaa'
print(a)

aaaaaaa

In [55]:
a.capitalize()

'Aaaaaaa'

In [59]:
s1.count('i')

3

In [64]:
s1.find('p')

12

In [66]:
'-'.join(["1", '2', '3', '4', 'Saeed'])

'1-2-3-4-Saeed'

In [68]:
s3 = s1.upper()
print(s3)
s1.lower()

HI, THIS IS PYHTON COURSE!

'hi, this is pyhton course!'

In [69]:
s1

'Hi, this is pyhton course!'

In [70]:
s1.split(',')

['Hi', ' this is pyhton course!']

In [71]:
s1.split(' ')

['Hi,', 'this', 'is', 'pyhton', 'course!']

In [74]:
a = 'abcd'
b = 'zxcv'

In [73]:
a*2

'abcdabcd'

In [75]:
a + b

'abcdzxcv'

## List

In [76]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
type(x)

list

In [78]:
type([])

list

In [79]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
x[4]

5

In [81]:
x[2]

3

In [82]:
x[-3]

8

In [83]:
x[2:6]

[3, 4, 5, 6]

In [84]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [86]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
x[2:8]

[3, 4, 5, 6, 7, 8]

In [92]:
# [<begin> : <end> : <step>]
x[2:8:2] # example

[3, 5, 7]

In [93]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
x + [4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [98]:
x = [1,2,3]
print(x)

[1, 2, 3]

In [99]:
x.append(5)

In [100]:
x

[1, 2, 3, 5]

In [101]:
x.clear()

In [102]:
x

[]

In [106]:
x = [1,2,3,4,5,6, 'Econ']
x

[1, 2, 3, 4, 5, 6, 'Econ']

In [ ]:
# remove
# pop

In [107]:
x.remove('Econ') # number

In [108]:
x

[1, 2, 3, 4, 5, 6]

In [109]:
x.pop(2)

3

In [110]:
x

[1, 2, 4, 5, 6]

In [111]:
x.reverse()
x

[6, 5, 4, 2, 1]

In [112]:
x

[6, 5, 4, 2, 1]

In [113]:
x[::-1]

[1, 2, 4, 5, 6]

## Dictionary

In [114]:
score = {'math': 19 , 'lit': 15 , 'econ': 17}

In [115]:
print(score)

{'math': 19, 'lit': 15, 'econ': 17}

In [116]:
type(score)

dict

In [117]:
score['math']

19

In [119]:
score['lit']

15

In [120]:
score.keys()

dict_keys(['math', 'lit', 'econ'])

In [121]:
score.values()

dict_values([19, 15, 17])

#### Other type

In [122]:
x = (1,2,3,4)
x

(1, 2, 3, 4)

In [123]:
type(x)

tuple

In [124]:
x[2]

3

In [110]:
tuple
set

set